@use "../abstracts/index" as *;

._404-container {
	@include box-shadow();
	width: 40rem;
	max-width: 90%;
	margin: auto;
	padding: 2rem;
	color: lighten($primary-gray, 5%);
	background-color: lighten($primary-gray, 70%);
	text-align: center;

	h1 {
		line-height: 2;
		margin-bottom: 2rem;
	}

	.path-name {
		color: lighten($primary-blue, 5%);
		font-weight: bold;
		font-style: italic;
	}

	a {
		position: relative;

		&::after {
			@include l-underline(2rem);
		}

		&:hover::after {
			@include l-underline-hover(4rem);
		}
	}
}
